.header {
    width: 100%;
    height: 58px;
    background-color: var(--main-color);
    color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-color);
    color: var(--base-color);
}

.main__content {
    display: flex;
    margin-top: 51px;
    gap: 60px;
}

.content {
    font-weight: 700;
    font-size: 30px;
}

.main__line {
    width: 559px;
    height: 4px;
    margin-top: 14px;
    background-color: var(--main-color);
}

.main__description {
    font-weight: 700;
    font-size: 24px;
    margin-top: 12px;
}

.main__info {
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
}

.main__btn {
    width: 293px;
    height: 50px;
    border: 2px solid var(--base-color);
    background-color: var(--dark-color);
    color: var(--base-color);
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.portfolio__text {
    margin-top: 104px;
    margin-bottom: 15px;
}

.first__card {
    display: flex;
    gap: 19px;
    margin-top: 28px;
    
}

.first {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 7.png);
}

.second {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 8.png);
}

.third {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 9.png);
}

.fourth {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 10.png);
}

.second__card {
    display: flex;
    gap: 19px;
    margin-top: 19px;
}

.fifth {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 11.png);
}

.sixth {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 12.png);
}

.seventh {
    width:  var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 13.png);
}

.eighth {
    width: var(--card-width);    
    height: var(--card-height);
    background-image: url(/img/Rectangle\ 14.png);
}

.background {
    width: 100%;
    height: 100px;
    background-color: var(--dark-color);
}

.footer {
    width: 100%;
    height: 205px;
    background-color: var(--main-color);
    color: var(--base-color);
}

.footer__content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer__icon {
    border-radius: 50%;
    margin-top: 50px;
}

.footer__name {
    font-weight: 700;
    size: 22px;
    margin-top: 41px;
}

.footer__contact {
    margin-top: 6px;
    font-weight: 400;
    size: 18px;
}

.footer__country {
    margin-top: 6px;
    font-weight: 400;
    size: 16px;
}

.footer__inc {
    width: 100%;
    height: 44px;
    background-color: #16758A;
    margin-top: 40px;
}

.inc {
    font-weight: 500;
    font-size: 12px;
    padding: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.01em;
}